// Detailの商品名とディスクリプションが中央寄せになる
// text-leftがないのが原因なので、一旦ここに追加
.text-left {
  text-align: left;
}

// 登録ボタンにしていされたclassが存在しなかったため、一旦ここに追加
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}
input[type="button"].btn-block,
input[type="reset"].btn-block,
input[type="submit"].btn-block {
  width: 100%;
}
